In [6]:
import pandas as pd

In [8]:
# Шаг 1: Загрузка данных
movies_df = pd.read_csv('C:\Users\User\Desktop/итоговое/movies_stats.csv')

In [10]:
# Шаг 2: Создание списка годов с 1950 по 2010
years = list(range(1950, 2011))

In [12]:
# Шаг 3: Функция для извлечения года выпуска
def production_year(title):
    for year in years:
        if str(year) in title:
            return year
    return 1900  # Если год не найден

In [14]:
# Применение функции к столбцу 'title' и создание нового столбца 'year'
movies_df['year'] = movies_df['title'].apply(production_year)

In [15]:
# Шаг 4: Рассчитываем средний рейтинг для каждого года
average_ratings = movies_df.groupby('year')['rating'].mean().reset_index()

In [18]:
# Шаг 5: Сортировка по убыванию рейтинга
sorted_ratings = average_ratings.sort_values(by='rating', ascending=False)

In [20]:
# Вывод результата
print(sorted_ratings)

    year    rating
8   1957  4.014241
23  1972  4.011136
3   1952  4.000000
5   1954  3.994220
2   1951  3.983539
..   ...       ...
56  2005  3.448434
54  2003  3.444777
47  1996  3.426600
48  1997  3.415764
51  2000  3.356104

[62 rows x 2 columns]